heera-core/
heera-default-settings/
heera-dock/
heera-icon-theme/
heera-kwin-plugins/
heera-launcher/
heera-qt-plugins/
heera-settings/
heera-system-library/
heera-user-interface/
heera-wallpapers/
qhotkey
heera-base
heera-calamares
heera-mirrorlist
